{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		{% block title%}
		
		{% endblock %}
		<meta name="description" content="">
		<meta name="author" content="Rodrigo">
		<!--{% block redirect %}
		{% endblock %}-->
		<!-- Llibreria jQuery per a Bootstrap -->
	    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
	    <!-- JavaScript de Bootstrap -->
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<!-- Icona de pestanya-->
		<link rel="shortcut icon" href="{% static 'bootstrap/imatges/images.jpg'%}">
		<link rel="apple-touch-icon" href="{% static 'bootstrap/imatges/images.jpg'%}">
		<!-- Fitxer amb última versió de jQuery -->
		<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
		<!-- Link al nostre fitxer de CSS-->
		<link rel="stylesheet" href="{% static 'bootstrap/css/css.css'%}">
		<!-- Link al nostre fitxer de CSS-->
		<link rel="stylesheet" href="{% static 'bootstrap/css/css.css'%}">			
		<!-- Fitxer CSS de Pnotify-->
		<link rel="stylesheet" href="{% static 'bootstrap/css/jquery.pnotify.default.css'%}">
		<!-- Fitxer de icones de Pnotify-->
		<link rel="stylesheet" href="{% static 'bootstrap/css/jquery.pnotify.default.icons.css'%}">		
		<!-- Link al nostre fitxer de JavaScript-->
		<script src="{% static 'bootstrap/js/js.js' %}"></script>
		<!-- Link al fitxer de JavaScript de Pnotify-->
		<script src="{% static 'bootstrap/js/jquery.pnotify.js' %}"></script>	
		<!-- Link al fitxer MIN de JavaScript de Pontify-->
		<script src="{% static 'bootstrap/js/jquery.pnotify.min.js' %}"></script>			
		{% block links-comple %}
		
		{% endblock %}
	</head>

	<body>
		<div class="container">
			<header>
			<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
			  <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="{% url 'index' %}">Enrutcat</a>
			  </div>
			  <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
			    <ul class="nav navbar-nav">	
			    	{% if user.is_authenticated %}
				      <li class="dropdown">
				      	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Rutes<b class="caret"></b></a>
					    <ul class="dropdown-menu">
						    <li><a href="{% url 'posts:novaRuta' %}">Crear Ruta</a></li>
					    </ul>
					  </li>
				      <li class="dropdown">
					  	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Comentaris<b class="caret"></b></a>
					    <ul class="dropdown-menu">
						    <li><a href="{% url 'socials:entrarComentaris' %}">Afegir comentari</a></li>
					    </ul>
					  </li>
					  <li class="dropdown">
					  	<a href="#" class="dropdown-toggle" data-toggle="dropdown">La meva activitat<b class="caret"></b></a>
					    <ul class="dropdown-menu">
						    <li><a href="{% url 'posts:mostrarRutes' %}">Les meves rutes</a></li>
						    <li><a href="#">Rutes on participaré</a></li>
						    <li><a href="#">Rutes finalitzades</a></li>
					    </ul>
					  </li>
			      {% endif %}
			    </ul>
			    <ul class="nav navbar-nav navbar-right">
				{% if user.is_authenticated %}
					<li><a href="{% url 'usuaris:mostrarPerfil' %}">{{ user.perfil.nick }}</a></li>
				{% endif %}
				{% if user.is_authenticated %}
			      <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuració<b class="caret"></b></a>
			        <ul class="dropdown-menu">
			         	  <li><a href="{% url 'usuaris:mostrarPerfil' %}">Perfil</a></li>
			          	  <li class="divider"></li>
						  <li><a href="{% url 'usuaris:exit_login' %}">Sortir</a></li>
			        </ul>
			      </li>
			     {% else %}
			       <li><a href="#" data-toggle="modal" data-target="#myModal">Accedeix</a></li>
			     {% endif %}
			    </ul>
			  </div><!-- /.navbar-collapse -->
			</nav>
			</header>
			<br>
			<br>
			<h1></h1>

			<div>
				{% block content %}
				{% endblock %}
			</div>
			<hr>
			<div>
				{% block mostrarRequest %}
				{% endblock %}
			</div>
			<br><br><br>
			<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse" role="navigation">
			  <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-2">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>			    
			  </div>
			  <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="collapse navbar-collapse" id="bs-navbar-collapse-2">
					<div class="container">
						<footer class="row">
							<section class="col-xs-12 col-sd-2 col-sd-offset-2 col-md-4 col-md-offset-3" class="textoBlanco centrarText">								
								 <ul class="nav navbar-nav" class="centrarText">										
									<li><a data-toggle="modal" data-target="#modalInformacio">&copy; Copyright  by Enrut.cat , 2014</a></li>
								</ul>	
							</section>
							<section class="col-xs-12 col-sd-2 col-md-4 " class="centrarText" >
								<ul class="listadoFooter">
									<li><b class="textoBlanco">Segueix-nos!</b></li>									
									<li id="facebookLogo"><a href="https://twitter.com/EnrutCat"></a></li>
									<li id="twitterLogo"><a href="https://twitter.com/EnrutCat"></a></li>
									<li id="googleLogo"><a href="https://plus.google.com/u/0/105295444224518300998/posts"></a></li>
								</ul>
							</section>	
						</footer>
					</div>

				</div>
			 </div><!-- /.navbar-collapse -->  			
		</div>
		<section>
		<!-- Modal -->
		
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title" id="myModalLabel">Uneix-te</h4>
			      </div>
			      <div class="modal-body">
					<div>
						{% if user.is_authenticated %}
						{% else %} 
							<!--<a href="{% url 'social:begin' 'facebook' %}">Login amb Facebook</a> <br /-->
							<a href="{% url 'social:begin' 'google-oauth2' %}"><button class="btn btn-danger btn-lg centrarText" >Accedeix amb Google</button></a><h5>Inicia sessió amb el teu compte de <abbr title="Correu De Google">GMAIL</abbr></h5><hr>
							<a href="{% url 'social:begin' 'twitter' %}"><button class="btn btn-info btn-lg centrarText">Accedeix amb Twitter</button></a><h5>Inicia sessió amb el teu compte de Twitter</h5>
						{% endif %}
				      </div>
				    </div>
				  </div>
				</div>
			</div><!-- /.navbar-collapse -->
		</nav>
		</section>						
			<!-- Modal Informació Nostra -->
			<div class="modal fade" id="modalInformacio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="myModalLabel">Enrut.cat</h4>
			      </div>
			      <div class="modal-body">
			       	<span>			       		
			       		<div class="panel-group" id="accordion">
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
						          enrut.cat: Projecte.
						        </a>
						      </h4>
						    </div>
						    <div id="collapseOne" class="panel-collapse collapse in">
						      <div class="panel-body">
						        Aquest projecte forma part del concurs <a href="http://websalpunt.cat/">Webs Al Punt</a>.<br>
								El tema triat, és la creació d'una aplicació web que permeti a un usuari crear 
								rutes (Per córrer, per fer a peu, amb bicicleta etc...). A aquestes rutes, s'hi podràn 
								apuntar altres usuaris de l'aplicació.
								També es podrà comentar una activitat, generar debat entre usuaris, modificar-la etc...
						      </div>
						    </div>
						  </div>
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
						          enrut.cat: Creació
						        </a>
						      </h4>
						    </div>
						    <div id="collapseTwo" class="panel-collapse collapse">
						      <div class="panel-body">
						        L'aplicació està desenvolupada amb el Framework de Python Django (v. 1.6) per a la creació dels models, els formularis
								d'entrada de dades i la gestió d'usuaris.<br>
								El disseny està fet amb Twiter Bootstrap 3.
						      </div>
						    </div>
						  </div>
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
						          enrut.cat: Desenvolupadors.
						        </a>
						      </h4>
						    </div>
						    <div id="collapseThree" class="panel-collapse collapse">
						      <div class="panel-body">
						        Aplicació creada pels alumnes Álex Ramírez, Darwin López, Martí Peris i Rodrigo Saulis. <br>
								Actualment cursant segón de CFGS de Desenvolupament D'Aplicacions Web (DAW) a l'INS Cendrassos de Figueres
								(17600, Girona).
						      </div>
						    </div>
						  </div>
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
						          enrut.cat: Llicències D'Ús.
						        </a>
						      </h4>
						    </div>
						    <div id="collapseFour" class="panel-collapse collapse">
						      <div class="panel-body">
						         <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.ca">
									<img alt="Llicència de Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">Enrut.cat</span> de <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.enrut.cat" property="cc:attributionName" rel="cc:attributionURL">Projecte Enrut.cat de WebsAlPunt! 2014.</a> està subjecta a una llicència de <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.ca">
									Reconeixement-NoComercial-SenseObraDerivada 4.0 Internacional de Creative Commons</a>
						      </div>
						    </div>
						  </div>
						</div>			       		
			       	</span>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-success" data-dismiss="modal">D'acord</button>
			      </div>
			    </div>
			  </div>
			</div>  			
		</div>
		{% if messages %}
		<script>
			$.pnotify.defaults.history = false;
			$.pnotify.defaults.delay = 3000;
			$(document).ready(function(){
				{% for message in messages %}
				$.pnotify({
					text: '{{message}}',
					type: '{{message.tags}}',
					animation: 'show',
					hide: true,
					styling: 'bootstrap'
				});
				{% endfor %}
			});
		</script>
		{% endif %}
	</body>
</html>