{% extends "base.html" %}
{% block title %}
	<title>Inici</title>
{% endblock %}
{% block content %}

<blockquote>
	<p><h1>Rutes</h1></p>
	<footer>Crea, comparteix i participa en activitats esportives i de lleure amb altres persones. Disfruta del teu esport preferit!.</footer>
</blockquote>

{% if rutes %}
<div style="overflow:auto;height:600px;">
	{% for ruta in rutes %}
		<article class="panel panel-success">
			    <div class="panel-heading">
				<h3 class="panel-title">
				    {{ruta.titol}}
				</h3>
			    </div>
				<div class="panel-body">
					<li><label>Data:</label> {{ruta.data}}</li>
					<li><label>Dificultat:</label> {{ruta.get_dificultat_display}}</li>
					<li><label>Categoria:</label> {{ruta.categoria}}</li>
					<li><label>Descripció:</label> {{ruta.descripcio}}</li>	
					<a href="{% url 'posts:apuntarRuta' ruta.id %}"><button class="btn btn-success">Apunta't! <span class="glyphicon glyphicon-ok"></span></button></a>
				</div> 
			</article>
	{% endfor %}
</div>
{% endif %}

{% endblock %}