
#map-canvas { 
	height: 500px;
  	width: 100%;
}

#panel {
    top: 5px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
}

#mapaDiv {
    float: left;
    width: 70%;
}

#formRuta {
	float: left;
}

