
#map-canvas { 
	height: 400px;
  	width: 50%;
  	border: 1px solid black;
  	float: right;
}


#mapaDiv {
    width: 100%;
}

#votacio {
    display:block;
}

#mitjana {
    font-weight: bold;
    text-align: center;
}

#paneleitor2000 {
	float:left;
}


