{% extends "base.html" %}
{% block redirect %}

{% if user.is_authenticated %}
	<meta http-equiv="refresh" content="0;{% url 'usuaris:iniciUsuari' %}" />
{% endif %}

{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <li><a href="{% url 'usuaris:exit_login' %}">Sortir</a></li>
{% else %} 
	<!--<a href="{% url 'social:begin' 'facebook' %}">Login amb Facebook</a> <br /-->
	<a href="{% url 'social:begin' 'google-oauth2' %}">Login amb Google</a> <br />
	<a href="{% url 'social:begin' 'twitter' %}">Login amb Twitter</a> <br />
{% endif %}
{% endblock %}