{% extends "base.html" %}
{% block title %}
<title>El Meu Perfil</title>
{% endblock %}
{% block content %}

<blockquote>
	<h1>{{user.perfil.nick}}</h1>
	<small>Estàs al teu perfil. Aquí pots modificar el teu nick i canviar/afegir una descrpició dels teus gustos</small>	
</blockquote>

	<br>
	<p>Descripció del usuari => {{user.perfil.descripcio}}</p><br>
	<p>Nick del usuari => {{user.perfil.nick}}</p><br>
	<a href="{% url 'usuaris:editarPerfil' %}"><button type="submit" class="btn btn-success">Modificar perfil</button></a>
{% endblock %}
