{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
<title>Cercar Ruta</title>
{% endblock %}
{% block links-comple %}
		<!-- js i css per a plugin del calendari -->
		<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/jquery-1.9.1.js"></script>
		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<script src="{% static 'calendar/calendar.js' %}"></script>
{% endblock %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

{% endif %}
<blockquote>
	<p><h1>Cercar Rutes</h1></p>
	<small>Cerca alguna ruta ja creada amb els criteris que vulguis:</small> 
</blockquote>
<div id="amagar">
	<button class="btn btn-success" id="botoDesplegar" style="position: absolute; margin-left: -110px" ><span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
<div class="row col-md-12" id="formulariCerca" style="display: none">
	<form class="form-horizontal" role="form" action="" method="post">{% csrf_token %}
	
		    {% for field in form %}
			    <div class="fieldWrapper">
			        {{ field.errors }}
					{{ field.label_tag }}{{ field }}
				</div>
			{% endfor %}
		<br>		
		<button type="submit" id="botoCercaRuta" class="btn btn-success">Cerca Ruta <span class="glyphicon glyphicon-search"></span></button>
		
	</form>
	<br>
</div>

{% if rutes %} 
{% for ruta in rutes %}
<div class="row col-md-12" class="rutesTrobades">
	<article class="panel panel-success">
	    <div class="panel-heading">
			<h3 class="panel-title">
		    	{{ruta.titol}}
			</h3>
	    	</div>
			<div class="panel-body">
				<li><label>Data:</label> {{ruta.data}}</li>
				<li><label>Dificultat:</label> {{ruta.get_dificultat_display}}</li>
				<li><label>Categoria:</label> {{ruta.categoria}}</li>
				<li><label>Descripció:</label> {{ruta.descripcio}}</li>
				{% if ruta.administrador == user.perfil %}
					<a href="{% url 'posts:editaRuta' ruta.id %}" class="btn btn-success" >Edita Ruta <span class="glyphicon glyphicon-pencil"></span></a>
		 			<a href="{% url 'posts:eliminarRuta' ruta.id %}" class="btn btn-danger" >Esborra Ruta <span class="glyphicon glyphicon-trash"></span></a>				
				{% elif ruta.administrador != user.perfil %}
				<a href="{% url 'posts:apuntarRuta' ruta.id %}"><button class="btn btn-success">Apunta't! <span class="glyphicon glyphicon-ok"></span></button></a>
				{% endif %}					 			
				<a data-toggle="modal" href="/socials/comentari/" data-target="#myModal2" class="btn btn-success">Afegir Comentari <span class="glyphicon glyphicon-comment"></span> </a>
				<!-- Modal -->
				<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    
				</div>
			</div> 
	</article>
	
</div>

{% endfor %}



<div class="row col-md-4 col-md-offset-6 pagination">

    <ul class="pager">
        {% if rutes.has_previous %}
            <li class="previous"><a href="?page={{ rutes.previous_page_number }}&q={{q}}">&larr; Anterior</a></li>
        {% else %}
        	<li class="previous disabled"><a href="#">&larr; Anterior</a></li>
        {% endif %}

        <span class="current">
            Pàgina {{ rutes.number }} de {{ rutes.paginator.num_pages }}
        </span>

        {% if rutes.has_next %}
            <li class="next"><a href="?page={{ rutes.next_page_number }}&q={{q}}"> Següent &rarr;</a></li>
        {% else %}
        	<li class="next disabled"><a href="#"> Següent &rarr;</a></li>
        {% endif %}
    </ul>
    <br><br><br><br><br><br>
</div>
{% endif %}
{% endblock %}
