{% extends "base.html" %}
{% block title %}
<title>Cercar Ruta</title>
{% endblock %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<blockquote>
	<p><h1>Cercar Rutes</h1></p>
	<footer>Cerca alguna ruta ja creada amb els criteris que vulguis:</footer> 
</blockquote>
<form action="" method="post">{% csrf_token %}
	    {% for field in form %}
		    <div class="fieldWrapper">
		        {{ field.errors }}
				{{ field.label_tag }}{{ field }}
			</div>
		{% endfor %}
	<button type="submit" class="btn btn-success">Cerca Ruta <span class="glyphicon glyphicon-search"></span></button>
</form>

<hr>

{% if rutes %} 
{% for ruta in rutes %}
	<article class="panel panel-success">
		    <div class="panel-heading">
			<h3 class="panel-title">
			    {{ruta.titol}}
			</h3>
		    </div>
			<div class="panel-body">
				<li><label>Data:</label> {{ruta.data}}</li>
				<li><label>Dificultat:</label> {{ruta.dificultat}}</li>
				<li><label>Categoria:</label> {{ruta.categoria}}</li>
				<li><label>Descripció:</label> {{ruta.descripcio}}</li>
				<a href="#"><button class="btn btn-success">Editar Ruta <span class="glyphicon glyphicon-pencil"></button></a>
			</div> 
		</article>
{% endfor %}



<div class="pagination">
    <span class="step-links">
        {% if rutes.has_previous %}
            <a href="?page={{ rutes.previous_page_number }}&q={{q}}"><< anterior | </a>
        {% endif %}

        <span class="current">
            Pàgina {{ rutes.number }} de {{ rutes.paginator.num_pages }}
        </span>

        {% if rutes.has_next %}
            <a href="?page={{ rutes.next_page_number }}&q={{q}}"> | següent >></a>
        {% endif %}
    </span>
</div>

{% endif %}




{% endblock %}
