{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
<title>Cercar Ruta</title>
{% endblock %}
{% block links-comple %}
		<!-- js i css per a plugin del calendari -->
		<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/jquery-1.9.1.js"></script>
		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<script src="{% static 'calendar/calendar.js' %}"></script>
{% endblock %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

{% endif %}
<blockquote>
	<p><h1>Cercar Rutes</h1></p>
	<footer>Cerca alguna ruta ja creada amb els criteris que vulguis:</footer> 
</blockquote>
<div id="amagar">
	<button class="btn btn-success" id="botoDesplegar" style="position: absolute; margin-left: -110px" ><span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
<div class="row col-md-2" id="formulariCerca" style="display: none">
	<form action="" method="post">{% csrf_token %}
	
		    {% for field in form %}
			    <div class="fieldWrapper">
			        {{ field.errors }}
					{{ field.label_tag }}{{ field }}
				</div>
			{% endfor %}
		<br>		
		<button type="submit" id="botoCercaRuta" class="btn btn-success">Cerca Ruta <span class="glyphicon glyphicon-search"></span></button>
	
	</form>
</div>

{% if rutes %} 
{% for ruta in rutes %}
<div class="row col-md-12" id="rutesTrobades">
	<article class="panel panel-success">
	    <div class="panel-heading">
			<h3 class="panel-title">
		    	{{ruta.titol}}
			</h3>
	    	</div>
			<div class="panel-body">
				<li><label>Data:</label> {{ruta.data}}</li>
				<li><label>Dificultat:</label> {{ruta.get_dificultat_display}}</li>
				<li><label>Categoria:</label> {{ruta.categoria}}</li>
				<li><label>Descripció:</label> {{ruta.descripcio}}</li>
				<a href="#"><button class="btn btn-success">Editar Ruta <span class="glyphicon glyphicon-pencil"></button></a>
			</div> 
	</article>
</div>
{% endfor %}



<div class="row col-md-2 col-md-offset-6 pagination">
    <span class="step-links">
        {% if rutes.has_previous %}
            <a href="?page={{ rutes.previous_page_number }}&q={{q}}"><< anterior | </a>
        {% endif %}

        <span class="current">
            Pàgina {{ rutes.number }} de {{ rutes.paginator.num_pages }}
        </span>

        {% if rutes.has_next %}
            <a href="?page={{ rutes.next_page_number }}&q={{q}}"> | següent >></a>
        {% endif %}
    </span>
</div>

{% endif %}




{% endblock %}
