{% extends "base.html" %}

{% block content %}
<blockquote>
	<p><h1>Les Meves Rutes</h1></p>
	<footer>Aquí trobaràs les rutes que has creat. Podràs editar-les o esborrar-les</footer>
</blockquote>
{% for ruta in Rutes %}
	<article class="panel panel-success">
		    <div class="panel-heading">
			<h3 class="panel-title">
			    {{ruta.titol}}
			</h3>
		    </div>
			<div class="panel-body">
				<ul>
					<li><label>Data: </label> {{ruta.data}}</li>
					<li><label>Dificultat: </label> {{ruta.get_dificultat_display}}</li>
					<li><label>Categoria: </label> {{ruta.categoria}}</li>
					<li><label>Descripció: </label> {{ruta.descripcio}}</li>
				</ul>				
				<a href="{% url 'posts:editaRuta' ruta.id %}" class="btn btn-success" >Edita Ruta <span class="glyphicon glyphicon-pencil"></span></a>
	 			<a href="{% url 'posts:eliminarRuta' ruta.id %}" class="btn btn-success" >Esborra Ruta <span class="glyphicon glyphicon-trash"></span></a>	
				<a data-toggle="modal" href="/socials/comentari/" data-target="#myModal2" class="btn btn-success">Afegir Comentari</a>
				<!-- Modal -->
				<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    
				</div>
			</div> 										
		</article>

{% endfor %}

{% endblock %}