{% extends "base.html" %}

{% block content %}
<h1>Les meves rutes</h1>
{% for ruta in Rutes %}
	<article class="panel panel-success">
		    <div class="panel-heading">
			<h3 class="panel-title">
			    <a href="{% url 'posts:detall' ruta.id %}">{{ruta.titol}}</a>
			</h3>
		    </div>
			<div class="panel-body">
				<li>{{ruta.data}}</li>
				<li>{{ruta.dificultat}}</li>
				<li>{{ruta.categoria}}</li>
				<li>{{ruta.descripcio}}</li>	
			</div> 
			<div>
				<a href="{% url 'posts:editaRuta' ruta.id %}" >Edita</a>
	 			<a href="{% url 'posts:eliminarRuta' ruta.id %}">Delete</a>
			</div>
		</article>

{% endfor %}

{% endblock %}