{% extends "base.html" %}
{% load staticfiles %}

{% block links-comple %}
		<!-- js i css per a mapa de API google MAPS-->	
		<link rel="stylesheet" href="{% static 'maps/maps.css' %}">
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClNhahi1_H8Tmdb7_WeuGpd4YA1cfOPwk&sensor=false"></script>	
		<script src="{% static 'maps/maps.js' %}"></script>
{% endblock %}
{% block content %}


<form action="" method="post">{% csrf_token %}


	<div id="formRuta">
	    {{ form.non_field_errors }}
	    <div class="fieldWrapper">
	        {{ form.titol.errors }}
			{{ form.titol.label_tag }}{{ form.titol }}
	    </div>
	    <div class="fieldWrapper">
	        {{ form.data.errors }}
			{{ form.data.label_tag }}{{ form.data }}
	    </div>
	    <div class="fieldWrapper">
	        {{ form.dificultat.errors }}
	        {{ form.dificultat.label_tag }}{{ form.dificultat }}
	    </div>
	    <div class="fieldWrapper">
	        {{ form.categoria.errors }}
	        {{ form.categoria.label_tag }}{{ form.categoria }}
	    </div>
	    <div class="fieldWrapper">
	        {{ form.descripcio.errors }}
	        {{ form.descripcio.label_tag }}{{ form.descripcio }}
	    </div>
	</div>


	<!-- -------------------------------------------------------------------------------------- -->
	
	<!-- PANELL DE CONTROL DE LINIES DE GOOGLE MAPS -->
	<div id="mapaDiv">
		<div id="panel">
		  <input onclick="amagarLinia();" type='button' value="Amagar Marca">
		  <input onclick="mostrarLinia();" type='button' value="Mostrar Marca">
		  <input onclick="borrarLinia();" type='button' value="Borrar Totes les Marques">
		  <input onclick="borrarUltimaMarca();" type='button' value="Borrar Última Marca">
		</div>
		<div id="map-canvas"></div>
	</div>
	
	
	<input type="text" id="postCoordenades" value=''>
	
	
	<p><input type="submit" href="{% url 'posts:novaRuta' %}" value="Confimar" /></p>


</form>


{% endblock %}