<!DOCTYPE html>

<html>
  <head>
    <title>Mapa part visual</title>
    <style>
      html, body {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #map-canvas { height: 60%;
      				width: 60%; }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClNhahi1_H8Tmdb7_WeuGpd4YA1cfOPwk&sensor=false"></script>
    <script language="javascript">
		
		//Declarem maps, que es de l'objecte mapa
		//una marca d'inici 
		//un array per guardar coordenades de linia
		//un objecte linia
		var map;
		var marca;
		var coordenadesLinia = [];
		var liniaPath;
		
		google.maps.event.addDomListener(window, 'load', inici);
		
		//aquesta funcion controla els events que li entren per 'click'
		function inici() {
		  var centreMapa = new google.maps.LatLng(42.5673, 3);
		  var mapOptions = {
		    zoom: 8,
		    center: centreMapa,
		    mapTypeId: google.maps.MapTypeId.TERRAIN
		  };
		  map = new google.maps.Map(document.getElementById('map-canvas'),
		      mapOptions);
		
			//aqui controlem els click i guardem les coordenades
		  google.maps.event.addListener(map, 'click', function(event) {
		    afegirMarca(event.latLng);
		  });
		}
		
		//afegim les coordenades a un array,
		//per a generar una objecte Polyline
		function afegirMarca(location) {
			//el primer clic hi posem una marca d'inici
		  	if(marca == null) {
		  		marca = new google.maps.Marker({
					position: location,
					map: map
				});
				marca.setMap(map);
		  	}
		  	
		  	//aquí muntem la linia
			coordenadesLinia.push(location);
			if (liniaPath == null) {
				liniaPath = new google.maps.Polyline({
				    path: coordenadesLinia,
				    geodesic: true,
				    strokeColor: '#FF0000',
				    strokeOpacity: 1.0,
				    strokeWeight: 2,
				    map: map
				  });
			} else {
				liniaPath.setPath(coordenadesLinia);
			}
		  	liniaPath.setMap(map);
		  	
		  	serialitzarCoords(location);
		  	
		}
		
		/*
		 * Funció per serialitzar dades
		 */
		function serialitzarCoords(coordenades) {
			document.getElementById('postCoordenades').value += coordenades.toString();
		}
		/*
		 * Funcions del control del panell
		 */
		function pintarLiniesAlMapa(map) {
		  	liniaPath.setMap(map);
		  	marca.setMap(map);
		}
		
		function amagarLinia() {
			pintarLiniesAlMapa(null);
		}

		function mostrarLinia() {
			pintarLiniesAlMapa(map);
		}
		
		function borrarLinia() {
		  amagarLinia();
		  var coordenadesLinia = [];
		  borrarMarca();
		  
		  /*
		   * falta implementar borrar la Polyline
		   */ 
		}
		
		function borrarMarca() {
			marca.setMap(null);
		}
		
		function borrarUltimaMarca() {
			coordenadesLinia.pop();
			pintarLiniesAlMapa(null);
			pintarLiniesAlMapa(map);
		}



    </script>
  </head>
  <body>
  	<!-- PANELL DE CONTROL DE LINIES DE GOOGLE MAPS -->
    <div id="panel">
      <input onclick="amagarLinia();" type='button' value="Amagar Marca">
      <input onclick="mostrarLinia();" type='button' value="Mostrar Marca">
      <input onclick="borrarLinia();" type='button' value="Borrar Totes les Marques">
      <input onclick="borrarUltimaMarca();" type='button' value="Borrar Última Marca">
    </div>
    <div id="map-canvas"></div>
    
    <input type="text" id="postCoordenades" value=''>
    
    <a href="">Calcular distancia</a>
  </body>
</html>

